telegram Bot.json
{
  "name": "telegram Bot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        120,
        0
      ],
      "id": "4b78a5dd-1a6e-455b-aa35-4289f52f557e",
      "name": "Telegram Trigger",
      "webhookId": "4ee6c790-62e6-41cc-8e8a-f9dd570361ca",
      "credentials": {
        "telegramApi": {
          "id": "zFqYeStcuuVOhMyu",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a helpful assistant.\nwill keep your response precise on point and you will give me every answer to the query into 3 to 4 lines itself. \nDon't type  large paragraphs be the best expert in the world and then give me the answers  see towards it that you are a bit bit chatty."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        440,
        0
      ],
      "id": "3cbb72fa-cc72-4f55-a298-39eefadc2782",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "openai/gpt-4.1-nano",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        220,
        220
      ],
      "id": "3705d470-156c-4cbd-831b-41e69f239557",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "cZsXJDLeSjKzhECY",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        460,
        240
      ],
      "id": "c68061ec-a401-4c19-a783-1b869de2b42a",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        780,
        220
      ],
      "id": "1156b55d-2af3-444d-a8f9-39e539a27599",
      "name": "Calculator"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        800,
        0
      ],
      "id": "544f75ef-dfee-4aed-a88c-fe5d6d244fd5",
      "name": "Send a text message",
      "webhookId": "f4227619-879d-4f1e-850a-5e1465b4b06f",
      "credentials": {
        "telegramApi": {
          "id": "zFqYeStcuuVOhMyu",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a067f568-8e0c-40c2-acf7-46eee3ca7279",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d03bc66cee3ddd5ef1697c797f12b67d2316f5ddbe6f6f57ca9ddc81f50fb738"
  },
  "id": "69HA6fSDm0KBngNi",
  "tags": []
}